.cover__link {
    width: 100%;
    height: calc(1184px*0.625);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    background-image: url('../../../images/cover-background.png');
    background-size: cover;

    text-decoration: none;
    color: #FFFFFF;
}

.cover__link::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: .3;
    z-index: -1;
    transition: opacity 200ms ease-in-out;
}

.cover__link:hover::before {
    opacity: .8;
}

@media screen and (max-width: 1279.98px) {
    .cover__link {
        width: calc(100% + 2*48px);
        height: calc(100vw*0.625);
    }
}

@media screen and (max-width: 991.98px) {
    .cover__link {
        width: calc(100% + 2*24px);
    }
}

@media screen and (max-width: 767.98px) {
    .cover__link {
        width: calc(100% + 2*16px);
    }
}