.place__title {
    margin: 0;
    padding: 0;
    grid-area: title;
    gap: 26px;

    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
}

@media screen and (max-width: 991.98px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
        padding-right: 11px;
    }
}

@media screen and (max-width: 767.98px) {
    .place__title {
        font-size: 32px;
        line-height: 1.09;
    }
}