.lead {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 1279.98px) {
    .lead {
        padding-top: 48px;
    }
}