.lead__image {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 991.98px) {
    .lead__image {
        width: calc(100% + 2*24px);
    }
}

@media screen and (max-width: 767.98px) {
    .lead__image {
        width: calc(100% + 2*16px);
    }
}