.intro__text {
    max-width: 690px;
    margin: 40px 0 33px;

    font-size: 16px;
    line-height: 1.63;
}

@media screen and (max-width: 991.98px) {
    .intro__text {
        max-width: 100%;
    }
}