@import url('../vendor/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

p, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
}

.wrapping {
    display: none;
}

.no-wrapping{
    display: block;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    padding: 28px 48px 0;
    background-color: #2A2C2F;

    font-family: 'Inter';
    font-style: 400;
    color: #FFFFFF;
}

.wrapper {
    margin: 0 100px;
}

/*  HEADER    ===========================================*/

.header {
    height: 52px;
    display: flex;
    justify-content: space-between;
}
    
.header__lang-links {
    display: flex;
    padding-top: 18px;
    height: 30px;

    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
}

.header__lang-link_ru {
    border-bottom: 2px solid #FFFFFF;
}

.header__lang-link_en {
    margin-left: 18px;
}

/*  LEAD    ===========================================*/

.main {
    flex: 1 1 auto;
}

.lead {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.lead__title {
    max-width: 720px;

    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
}

.lead__subtitle {
    margin: 32px 0 64px;
    max-width: 640px;

    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}

.lead__image {
    width: 100%;
    display: flex;
    position: relative;
}

.lead__pic {
    width: 100%;
    height: auto;
}

.lead__route {
    position: absolute;
    width: 95.24%;
    height: auto;
    top: 14.63%;
    left: 2.38%;
}

.lead__caption {
    margin-top: 8px;
    align-self: flex-start;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

/*  INTRO   ===========================================*/

.intro {
    padding: 92px 0;
}

.intro__title {
    max-width: 690px;

    font-size: 54px;
    line-height: 1.07;
}

.intro__text {
    max-width: 690px;
    margin: 40px 0 33px;

    font-size: 16px;
    line-height: 1.63;
}

.intro__list {
    max-width: 690px;

    font-weight: 900;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -.1px;
}

.intro__digits {
    font-weight: 400;
}

/*  PHOTO-GRID  ===========================================*/

.photo-grid {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0 auto;
}

.photo-grid__item {
    width: 100%;

}

/*  PLACES  ===========================================*/

.places {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 92px 0;
}
.place {
    width: 100%;
    margin-bottom: 79.5px;
    display: grid;
    grid-template-rows: ;
    grid-template-columns: 46.749% auto;
    grid-template-areas: 
        "title website"
        "image text";
    row-gap: 48px;
    column-gap: 40px;
}
.place:last-child {
    margin-bottom: 0;
}
.place__title {
    grid-area: title;

    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
}
.place__image {
    grid-area: image;
    width: 100%;
}
.place__website {
    grid-area: website;
    align-self: end;
}
.place__url-heading {
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    color: #AAAAAA;
}
.place__link {
    border-bottom: 1px solid white;
    font-size: 18px;
    line-height: 1.22;
}
.place__text {
    grid-area: text;
}
.place__paragraph {
    margin-bottom: 26px;

    font-size: 18px;
    line-height: 1.63;
}

.place__paragraph_wrapping {
    display: none;
}

.place__paragraph:last-child, .place__paragraph_no-wrapping {
    margin-bottom: 0;
}

/*  BAIKAL  ===========================================*/

.baikal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cover {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.cover:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: 1;
    transition: opacity 200ms ease-in-out;
}

.cover:hover:before {
    opacity: 0.8;
}

.cover__background {
    width: 100%;
}

.cover__text{
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    z-index: 2;
}

.cover__title {
    margin-bottom: 32px;
    font-size: 72px;
    line-height: 1.06;
}
.cover__subtitle {
    padding: 0 100px;
    font-size: 18px;
    line-height: 1.22;
}

/*  FOOTER  ===========================================*/

.footer {
    margin: 92px 0 24px;
    display: flex;
    justify-content: space-between;
}
.footer__navigation {
}

.footer__links {
    display: flex;
    flex-direction: row;

    font-size: 16px;
    line-height: 1.12;
}
.footer__link {
    margin-right: 18.7px;
}
.footer__link:last-child {
    margin-right: 0;
}
.footer__copyright {
    font-size: 14px;
    line-height: 1.14;
}

/*  1024px  ===========================================*/

@media screen and (max-width: 1279.98px) {
    .wrapper {
        margin: 0;
    }
    .lead {
        padding-top: 48px;
    }
    .lead__subtitle {
        margin-bottom: 56px;
    }
    .photo-grid {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
    .place {
        grid-template-columns: 47.415% auto;
        column-gap: 32px;
    }
    .cover {
        width: 100vw;
    }
}

/*  768px   ===========================================*/

@media screen and (max-width: 991.98px) {
    .page {
        padding: 28px 24px 0;
    }
    .lead__image {
        width: 100vw;
    }
    .intro{
        padding: 88px 0;
    }
    .intro__text, .intro__list {
        max-width: 100%;
    }
    .places {
        padding: 88px 0 90px;
    }
    .place {
        margin-bottom: 70.7px;
        grid-template-columns: 47.223% auto;
        column-gap: 28px;
    }
    .place__title {
        font-size: 42px;
        line-height: 1.1;
        padding-right: 11px;
    }
    .place__paragraph {
        font-size: 16px;
        line-height: 1.63;
    }
    .footer {
        margin-top: 88px;
    }
}

@media screen and (max-width: 819.98px) {
    .photo-grid {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

/*  500px   ===========================================*/

@media screen and (max-width: 767.98px) {
    .page {
        padding: 16px 16px 0;
    }
    .header {
        height: 42px;
    }
    .header__logo {
        width: 142px;
    }
    .header__lang-links {
        padding-top: 14px;
        height: 20px;
        font-size: 18px;
        line-height: 1.11;
    }
    .lead__title {
        max-width: 520px;
        font-size: 64px;
        line-height: 1.1;
    }
    .lead__subtitle {
        margin: 16px 0 40px;
        max-width: 420px;
        font-size: 20px;
        line-height: 1.25;
    }
    .intro {
        padding: 64px 0;
    }
    .intro__title {
        padding-right: 40px;
        font-size: 40px;
        line-height: 1.09;
    }
    .places {
        padding: 64px 0 66px;
    }
    .place {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .place__image {
        width: 100vw;
        align-self: center;
    }
    .place__title {
        font-size: 32px;
        line-height: 1.09;
    }
    .place__website {
        align-self: flex-start;
    }
    .place__paragraph {
        margin-bottom: 23.8px;
    }
    .place__paragraph_no-wrapping {
        display: none;
    }
    .place__paragraph_wrapping {
        display: block;
    }
    .cover__title {
        max-width: 255px;
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 1.09;
    }
    .cover__subtitle {
        padding: 0 16px;
        font-size: 14px;
        line-height: 1.14;
    }
    .wrapping {
        display: block;
    }
    .no-wrapping {
        display: none;
    }
    .footer {
        flex-direction: column;
        margin-top: 64px;
    }
    .footer__links {
        flex-direction: column;
        row-gap: 32px;

        font-size: 24px;
        line-height: 1;
    }
    .footer__copyright {
        margin-top: 48px;
    }
}

/*  320px   ===========================================*/

@media screen and (max-width: 489.98px) {
    .lead__title {
        max-width: 330px;
        font-size: 40px;
    }
    .lead__subtitle {
        max-width: 300px;
        font-size: 16px;
    }
    .intro__title {
        font-size: 32px;
    }
    .photo-grid {
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }
}