.place {
    width: 100%;
    margin-bottom: 79.5px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 46.749% auto;
    grid-template-areas: 
        "title website"
        "image text";
    row-gap: 48px;
    column-gap: 40px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1279.98px) {
    .place {
        grid-template-columns: 47.415% auto;
        column-gap: 32px;
    }
}

@media screen and (max-width: 991.98px) {
    .place {
        margin-bottom: 70.7px;
        grid-template-columns: 47.223% auto;
        column-gap: 28px;
    }
}

@media screen and (max-width: 767.98px) {
    .place {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}